<% layout('layout/authenBoilerplate') %> 
<div class="register-wrapper">
    <form action="/register" method="post" class="register-form">
        <h3 class="register-form__heading">Sign Up</h3>
        <div class="register-form__username">
            <i class="register-form--icon fas fa-user"></i>
            <input type="text" name="username" placeholder="Your username" class="register-form__name--input">
        </div>
        <div class="register-form__username">
            <i class="register-form--icon far fa-user-circle"></i>
            <input type="text" name="fullName" placeholder="Your fullname" class="register-form__name--input">
        </div>
        <div class="register-form__email">
            <i class="register-form--icon fas fa-envelope-square"></i>
            <input type="text" name="email" placeholder="Your email">
        </div>
        <div class="register-form__username">
            <i class="register-form--icon fas fa-address-card"></i>
            <input type="text" name="address" placeholder="Your address">
        </div>
        <div class="register-form__numberPhone">
            <i class="register-form--icon fas fa-phone"></i>
            <input type="text" name="numberPhone" placeholder="Your Number Phone">
        </div>
        <div class="register-form__password">
            <i class="register-form--icon fas fa-lock"></i>
            <input type="text" name="password" placeholder="Your password">
        </div>
        <button class="register-form__btn">
            <span>Register</span> 
        </button>
    </form>
    <div class="register-cover" style="background-image:url(/img/register.gif)">

    </div>
</div>